:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --background-box-dark: #2f303a;
  --background-box-light: #f5f4fa;
}
html {
  box-sizing: border-box;
}
button{
	cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  color: var(--main-text-color);
  background-color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
img {
  display: block;
}
p, h1, h2, h3 {
	margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
padding-top: 94px;
padding-bottom: 94px;
}

/* !header */
.main-nav,
.container-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.logo {
  color: var(--accent-text-color);
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-dark {
  color: #000000;
}
.contact {
  display: flex;
  margin-left: auto;
}

.contact .nav-contact + .nav-contact {
  margin-left: 50px;
}

.nav-contact .link {
  color: var(--main-text-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent-text-color);
}
.current {
  color: var(--accent-text-color);
}

/* !Hero index*/
.hero {
  background-color: var(--background-box-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  width: 600px;
  margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
  color: var(--white-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.button{
	display: flex;
	justify-content: center;
}
.btn {
	display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;

  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:focus,
.btn:hover {
  background-color: #188ce8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/* !main index*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
}
.qualities-li{
	width: 270px;
	margin-right: 30px;
}
.qualities-li:last-child{
	margin-right: 0;
}

.qualities-title {
  margin-bottom: 10px;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.examples {
  display: flex;
flex-wrap: wrap;
  padding-top: 50px;
}
.section.none {
	padding-top: 0;
}

.examples-pict{
	width: calc ((100% - 60px) / 3);
	margin-right: 30px;
}
.examples-pict:last-child{
	margin-right: 0;
}

.section.background {
  background-color: var(--background-box-light);

}
.team {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.team-box{
	width: calc((100% - 90px) / 4);
	margin-right: 30px;
}

.team-box:last-child{
	margin-right: 0;
}

.team-title,
.examples-title {
  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-name{
	margin-top: 30px;
	margin-bottom: 10px;
}

.team-name,
.team-proff {
  color: var(--second-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.team-proff {
  margin-bottom: 30px;
  color: var(--main-text-color);
  font-weight: 400;
}

/* !footer */
.footer {
  background-color: var(--background-box-dark);
  padding-top: 60px;
}

.logo-light {
  color: var(--white-text-color);
}
.address{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 60px;
}

.map-link {
	min-width: 231px;
	display: block;
	padding-top: 20px;
	padding-bottom: 9px;
  color: var(--white-text-color);
  font-style: normal;
}

.address-link {
	min-width: 231px;
	display: block;
	padding-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.map-link:focus,
.map-link:hover,
.address-link:focus,
.address-link:hover {
  color: var(--accent-text-color);
}

/* !portfolio main*/
.pictures{
	display: flex;
	flex-wrap: wrap;
	}

.pictures-li{
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
}
.pictures-li:nth-child(3n){
	margin-right: 0;
}

.pictures-li:nth-child(-n+3){
	margin-top: 50px;
}

.title-project {
  margin-top: 20px;
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-project {
	margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.88;
}
.btn-list{
	margin-right: 8px;
}
.btn-list:last-child{
	margin-right: 0;
}

.btn-portfolio {
  height: 38px;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  color: var(--second-text-color);
  background-color: var(--background-box-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
