:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --background-box-dark: #2f303a;
  --background-box-light: #f5f4fa;
}

body {
  font-family: "Roboto", "sans-serif";
  color: var(--main-text-color);
  background-color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* !header */

.nav-contact .link {
	color: var(--main-text-color);
 }

.nav-link {
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav-link:focus,
.nav-link:hover{
	color: var(--accent-text-color);
 }
.current{
	 color: var(--accent-text-color);
 }

.map-link:focus,
.map-link:hover,
.address-link:focus,
.address-link:hover {
  color: var(--accent-text-color);
}


.logo {
  font-family: "Raleway", "sans-serif";
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-dark {
  color: #000000;
}

/* !Hero index*/
.hero {
  background-color: var(--background-box-dark);
}

.title {
  font-size: 44px;
  font-weight: 900;
  color: var(--white-text-color);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn {
  /* *btn size */
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;

  /* *btn style */
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:focus,
.btn:hover {
  background-color: #188ce8;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-text-stroke: 1px #000000;
}

/* !main index*/
.section-team {
  background-color: var(--background-box-light);
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
 }

.qualities-title {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.team-title, 
.examples-title {
  font-size: 36px;
  color: var(--second-text-color);
  line-height: 1.17;
  text-align: center;
}

.name-title,
.text-proff {
  font-size: 16px;
  font-weight: 500;
  color: var(--second-text-color);
  line-height: 1.19;
  text-align: center;
}

.text-proff {
  color: var(--main-text-color);
  font-weight: 400;
  
}

/* !footer */
.footer {
  background-color: var(--background-box-dark);
}

.logo-light {
  color: var(--white-text-color);
}

.map-link {
  color: var(--white-text-color);
  font-style: normal;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/* !portfolio main*/
.title-project {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-project {
  font-size: 16px;
  line-height: 1.88;
}
.btn-portfolio {
  /* *btn size */
  height: 38px;
  border-radius: 4px;
  border: transparent;
  /* *btn style */
  font-size: 16px;
  font-weight: 500;
  color: var(--second-text-color);
  background-color: var(--background-box-light);
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-portfolio:focus,
.btn-portfolio:hover{
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
